# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of go build / go install
*.out
*.o
*.a

# Dependency directories (if using vendoring)
vendor/

.env

# IDE / editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
